<!DOCTYPE html>
<html>
	<head><link rel="stylesheet" type="text/css" href="stylesheet.css">
	</head>

<body>
<h1>Movie Lovers Trivia</h1>

<h2>Search for your movie title here to start the trivia game</h2>

<form action="/movie_search" method="POST">
	<input type="text" name="keyword" placeholder="Enter Your Movie Title">
    <button type="submit">Start Trivia</button>
</form>


</body>
</html>

