<!DOCTYPE html>
<html>
	<head><link rel="stylesheet" type="text/css" href="stylesheet.css">
	</head>

<script type="text/javascript">
	function yes(){
		alert("Correct!")
	}

	function no(){
		alert("Incorrect!")
	}
</script>

<body>
<h1>Which Movie was filmed in <%=@randomdate %> ?</h1>

	<ul>
	<% @newsearch_array.each do |i| %> 		
		<li>
			<% if i.year == @randomdate %>
				<% Answer="yes()" %>
			<% else %>
				<% Answer="no()" %>
			<% end %>

			<img src="<%= i.poster %>" onclick=<%= Answer %> >
		</li>
	<% end %>
	</ul>
</body>
</html>

